{% extends '_templates/base.njk' %}

{% block page_title %} Pirate ships {% endblock %}

{% block page_description %} A list of pirate ships lore from fact and fiction. {% endblock %}

{% block content %}
<article class="containter">
  <h1>Ships of the Golden Age of pirates</h1>
  <p>Intro text here.</p>
</article>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for ship in pirates.ships %}
  <div class="col">
    <div class="card text-bg-dark h-100">
      <div class="card-body">
        <h5 class="card-title">{{ship.ship_name}}</h5>
        <h6>{{ship.captain}}</h6>
        <p class="card-text">{{ship.blurb}}</p>
      </div>
      <div class="card-footer">
        <a href="{{ship.source}}" class="Card Link">More about the ships</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}